<br>
<div class="container  ">
    <div class="row">
        <div class="col-12 justify-content-center text-center">
            <h1 class="justify-content-center">bienvenido a contactos</h1>
        </div>
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquid nihil. Maiores officia officiis quae ducimus! Ea necessitatibus quis perspiciatis doloremque esse, hic quaerat, facilis, soluta sunt fuga a rem!</p>
        </div>
    </div>
</div>